font-sizes = {
    h100: 2.027rem,
    h200: 1.802rem,
    h300: 1.602rem,
    h400: 1.424rem,
    h500: 1.266rem,
    h600: 1.125rem,
    normal: 1rem,
    small: 0.889rem,
    tiny: 0.79rem
}

breakpoints = {
    xs: 766px,
    sm: 767px,
    md: 1024px,
    lg: 1280px,
    xlg: 1366px,
    xxlg: 1920px,
}
