@require 'variables'

media-up(size)
    @media (min-width breakpoints[size])
        {block}

media-down(size)
    @media (max-width breakpoints[size])
        {block}

fontsize(size = font-sizes.normal)
    font-size font-sizes[size]